@model MvcMusicStore.Models.Banner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Banner</legend>

    <div class="display-label">KategoriId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KategoriId)
    </div>

    <div class="display-label">AffiliateId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AffiliateId)
    </div>

    <div class="display-label">Tajuk</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tajuk)
    </div>

    <div class="display-label">Harga</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Harga)
    </div>

    <div class="display-label">BannerArtUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BannerArtUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BannerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
