@model MvcMusicStore.Models.Banner

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Banner</legend>

        @Html.HiddenFor(model => model.BannerId)

        <div class="editor-label">
            @Html.LabelFor(model => model.KategoriId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KategoriId)
            @Html.ValidationMessageFor(model => model.KategoriId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AffiliateId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AffiliateId)
            @Html.ValidationMessageFor(model => model.AffiliateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tajuk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tajuk)
            @Html.ValidationMessageFor(model => model.Tajuk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Harga)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Harga)
            @Html.ValidationMessageFor(model => model.Harga)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BannerArtUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BannerArtUrl)
            @Html.ValidationMessageFor(model => model.BannerArtUrl)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
