@model IEnumerable<MvcMusicStore.Models.Banner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            KategoriId
        </th>
        <th>
            AffiliateId
        </th>
        <th>
            Tajuk
        </th>
        <th>
            Harga
        </th>
        <th>
            BannerArtUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AffiliateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tajuk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BannerArtUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BannerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BannerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BannerId })
        </td>
    </tr>
}

</table>
