@model MvcMusicStore.Models.Kategori
 
@{
    ViewBag.Tajuk = "Browse Banners";
}
 
<div class="kategori">
    <h3><em>@Model.Nama</em> Banners</h3>
 
    <ul id="banner-list">
        @foreach (var banner in Model.Banners)
        {
            <li>
                <a href="@Url.Action("Details", new { id = banner.BannerId })">
                    <img alt="@banner.Tajuk" src="@banner.BannerArtUrl" />
                    <span>@banner.Tajuk</span>
                </a>
            </li>
        }
    </ul>
</div>
