@model MvcMusicStore.Models.Genre
 
@{
    ViewBag.Title = "Browse Albums";
}
<script type="text/javascript"><!--
iDevAffiliate_BoxWidth = "220";
iDevAffiliate_BoxHeight = "80";
iDevAffiliate_OutlineColor = "#000099";
iDevAffiliate_TitleTextColor = "#FFFFFF";
iDevAffiliate_LinkColor = "#0033CC";
iDevAffiliate_TextColor = "#000000";
iDevAffiliate_TextBackgroundColor = "#F3F3F3";
//-->
</script>
<script language="JavaScript" type="text/javascript" src="http://angel.exabytes.com.my/idevads.php?id=3203564&ad=2&page=1"></script> 
<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>
 
    <ul id="album-list">
        @foreach (var album in Model.Albums)
        {
            <li>
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" />
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
