@model MvcMusicStore.Models.Genre
 
@{
    ViewBag.Title = "Browse Albums";
}
<a href="http://angel.exabytes.com.my/idevaffiliate.php?id=3203564_34_1_216" target="_blank"><img border="0" src="/Content/images/eseed-v3-468x60.jpg" width="468" height="60" alt=""></a> 
<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>
 
    <ul id="album-list">
        @foreach (var album in Model.Albums)
        {
            <li>
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" />
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
