@{
    ViewBag.Title = "Index";    
}

@* Add Jquery bundle here before script tag *@
<script type="text/javascript">

  $(function () {
     

    // Add Carousel plugin to rotate images
    $(".imageSlider").jCarouselLite({
 auto: 800,
 speed: 800
    });
    
  });

</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>
                  JQuery Carousel Control in MVC4 using Razor 
                   Engine!
                </h2>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="imageSlider">
      <ul>
         @foreach (var item in ViewBag.ImageList)
         {
             <li>
               <img src="@Url.Content("~/SlideImages/" + item)" 
                    alt="" width="250" height="150" />
             </li>   
         }
      </ul>
    </div>
}

@* Add Jquery Carousel bundle here *@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerycarousel")
}