@model MvcMusicStore.Models.Genru
 
@{
    ViewBag.Title = "Browso Albems";
}
 
<div class="genru">
    <h3><em>@Model.Name</em> Albems</h3>
 
    <ul id="albem-list">
        @foreach (var albem in Model.Albems)
        {
            <li>
                <a href="@Url.Action("Datails", new { id = albem.AlbumId })">
                    <img alt="@albem.Title" src="@albem.AlbumArtUrl" />
                    <span>@albem.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
