@model MvcMusicStore.Models.Genra

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

 <h3><em>@Model.Name</em> Albems</h3>

@foreach (var albem in Model.Albems)
        {
            <li>
                <a href="@Url.Action("Details", new { id = albem.AlbemId })">
                    <img alt="@albem.Title" src="@albem.AlbemArtUrl" />
                    <span>@albem.Title</span>
                </a>
            </li>
        }