@model IEnumerable<MvcMusicStore.Models.Kategori>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nama
        </th>
        <th>
            Penerangan
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penerangan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KategoriId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KategoriId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KategoriId })
        </td>
    </tr>
}

</table>
